.image{
   display: block;
   margin: auto;
}

.hello_world {
   font-family: 'Sigmar', cursive;
   color: white;
   font-size: 3rem;
}

.name {
   font-family: 'Sigmar', cursive;
   color: white;
   font-size: 2.5rem;
}

.henly {
   color: #9900FF;
}

.home_button{
   background-color: #560090;
   border: none;
   margin-right: 1.5rem;
   margin-top: 1rem;
}

.aspiration {
   color: white;
   font-family: 'Sigmar', cursive;
   font-size: 1.25rem;
   margin-right: 6px;
}

.contain {
   display: flex;
   color: #9900FF;
   font-family: 'Sigmar', cursive;
   font-size: 1.25rem;
   margin-top: 2rem;
}

/* Quote Section */
.quoteOfDay{
   color: white;
   font-family: 'Sigmar', cursive;
}

.quoteContent{
   color: white;
}

.quoteAuthor {
   color: white;
}