.navBar{
   background-color: transparent;
   opacity: 0.75;
}

.brand, 
.link,
.brand:hover,
.link:hover {
   color: white;
}

.link:hover{
   background-color:#9900FF;
   
}

.toggle{
   background-color: white;
}